<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="static/style.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap"
        rel="stylesheet">

    <!--  -->
</head>

<body>

    <div class="container">

        <div class="row accounting-container text-white mb-2">

            <!-- Form Name -->

            <p class="text-center mb-2 form-name display-2">تفصيل عباية لعميلة</p>
            <form>
                <div class="col accounting-form p-5 mx-1">
                    <!-- Start Inputs -->
                    <div class="row">
                        <label for="name"
                            class="col-3 col-xs-3 col-sm-2 col-md-2 col-lg-1 col-xl-2  col-form-label col-form-label-lg p-0">رقم الطلب</label>
                        <div class="col-6 col-sm-6 col-xs-7 col-md-6 col-lg-4 col-xl-4 p-0">
                            <input type="number" class="form-control form-control-md rounded-pill mx-3"
                                id="costCenterNumber" placeholder="رقم الطلب">
                        </div>
                    </div>

                    <div class="row mt-3">
                        <label for="name"
                            class="col-3 col-xs-3 col-sm-2 col-md-2 col-lg-1 col-xl-2  col-form-label col-form-label-lg p-0">رقم
                            الهاتف</label>
                        <div class="col-6 col-sm-6 col-xs-7 col-md-6 col-lg-4 col-xl-4 p-0">
                            <input type="number" class="form-control form-control-md rounded-pill mx-3"
                                id="costCenterNumber" placeholder="رقم الهاتف">
                        </div>
                    </div>

                    <div class="row mt-3">
                        <label for="arabicDescription"
                            class="col-3 col-xs-3 col-sm-2 col-md-2 col-lg-1 col-xl-2 col-form-label col-form-label-lg p-0">اسم
                            العميلة</label>
                        <div class="col-8 col-xs-7 col-sm-10 col-md-8 col-lg-6 col-xl-6 p-0"
                            style="align-self: center !important;">
                            <input type="text" class="form-control form-control-md rounded-pill mx-3"
                                id="englishDescription" placeholder="اسم
العميلة">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <label for="arabicDescription"
                            class="col-3 col-xs-3 col-sm-2 col-md-2 col-lg-1 col-xl-2 col-form-label col-form-label-lg p-0">ملاحظات</label>
                        <div class="col-8 col-xs-7 col-sm-10 col-md-8 col-lg-6 col-xl-6 p-0"
                            style="align-self: center !important;">
                            <input type="text" class="form-control form-control-md rounded-pill mx-3"
                                id="arabicDescription" placeholder="ملاحظات">
                        </div>
                    </div>
                </div>

            </form>
        </div>

        <!--  -->
        <!--  -->
        <!--  -->
        <!--  -->
        <!--  -->

        <div class="row accounting-container text-white mb-5">

            <!-- Form Name -->

            <p class="text-center mb-2 form-name display-2">القياسات</p>
            <form>
                <div class="col accounting-form p-5 mx-1">
                    <div class="row ">
                        <div class="col-6 col-md-4 col-lg-4 col-xl-3 my-2 sizeBox">
                            <input type="number" class="form-control form-control-md rounded mx-3" id="sizeBox"
                                placeholder="المقاس">
                        </div>
                        <div class="col-6 col-md-4 col-lg-4 col-xl-3 my-2 sizeBox">
                            <input type="number" class="form-control form-control-md rounded mx-3" id="sizeBox"
                                placeholder="المقاس">
                        </div>
                        <div class="col-6 col-md-4 col-lg-4 col-xl-3 my-2 sizeBox">
                            <input type="number" class="form-control form-control-md rounded mx-3" id="sizeBox"
                                placeholder="المقاس">
                        </div>
                        <div class="col-6 col-md-4 col-lg-4 col-xl-3 my-2 sizeBox">
                            <input type="number" class="form-control form-control-md rounded mx-3" id="sizeBox"
                                placeholder="المقاس">
                        </div>
                        <div class="col-6 col-md-4 col-lg-4 col-xl-3 my-2 sizeBox">
                            <input type="number" class="form-control form-control-md rounded mx-3" id="sizeBox"
                                placeholder="المقاس">
                        </div>
                        <div class="col-6 col-md-4 col-lg-4 col-xl-3 my-2 sizeBox">
                            <input type="number" class="form-control form-control-md rounded mx-3" id="sizeBox"
                                placeholder="المقاس">
                        </div>
                        <div class="col-6 col-md-4 col-lg-4 col-xl-3 my-2 sizeBox">
                            <input type="number" class="form-control form-control-md rounded mx-3" id="sizeBox"
                                placeholder="المقاس">
                        </div>
                        <div class="col-6 col-md-4 col-lg-4 col-xl-3 my-2 sizeBox">
                            <input type="number" class="form-control form-control-md rounded mx-3" id="sizeBox"
                                placeholder="المقاس">
                        </div>
                        <div class="col-6 col-md-4 col-lg-4 col-xl-3 my-2 sizeBox">
                            <input type="number" class="form-control form-control-md rounded mx-3" id="sizeBox"
                                placeholder="المقاس">
                        </div>
                        <div class="col-6 col-md-4 col-lg-4 col-xl-3 my-2 sizeBox ">
                            <input type="number" class="form-control form-control-md rounded mx-3" id="sizeBox"
                                placeholder="المقاس">
                        </div>
                        <div class="col-6 col-md-4 col-lg-4 col-xl-3 my-2 sizeBox">
                            <input type="number" class="form-control form-control-md rounded mx-3" id="sizeBox"
                                placeholder="المقاس">
                        </div>
                        <div class="col-6 col-md-4 col-lg-4 col-xl-3 my-2 sizeBox">
                            <input type="number" class="form-control form-control-md rounded mx-3" id="sizeBox"
                                placeholder="المقاس">
                        </div>


                    </div>

                </div>

            </form>
        </div>
    </div>
</body>


<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

</body>
<style>
    .sizeBox{
        margin-right: inherit;
    }
</style>
</html>